@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<script>
    async function Test() {
        var  tok = '<see instructions below for getting your access token>';
        var url = '@Html.Raw((@Context.Request.IsHttps ? "https" : "http") + "://" + @Context.Request.Host + "/adobe_launch/proxy")';
        var reactor = new window.Reactor(undefined, { reactorUrl: url });
        var acme = await reactor.listCompanies();
        console.log(acme);
    }


    Test();
</script>